@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roobert";
  src: url("/fonts/DP_roobert_TRIAL/RoobertTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/DP_roobert_TRIAL/RoobertTRIAL-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/DP_roobert_TRIAL/RoobertTRIAL-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/DP_roobert_TRIAL/RoobertTRIAL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roobert Mono";
  src: url("/fonts/DP_roobert-mono_TRIAL/RoobertMonoTRIAL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Hexaframe CF";
  src: url("/fonts/HexaframeCF/HexaframeCF-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Hexaframe CF";
  src: url("/fonts/HexaframeCF/HexaframeCF-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

:root {
  --font-roobert: "Roobert", sans-serif;
  --font-roobert-mono: "Roobert Mono", monospace;
  --font-hexaframe: "Hexaframe CF", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply transition-colors duration-200;
}

html {
  font-family: var(--font-roobert), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
